<h1>Joukkueet</h1>

<table>
  <tr>
    <th>Nimi</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team_players_url(team) %></td>
    <td><%= link_to 'Muokkaa', edit_team_path(team) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Uusi joukkue', new_team_path %>
